<a 
class="h6 cursor-pointer group inline-block rounded px-8 py-4
{{ class }}" 
href="{{ url }}">
{% if icopre %}
<i class="mr-5 fas fa-{{ icopre }}" data-fa-transform="grow-4"></i>
{% endif %}
{{ text }}
{% if icopost %}
<i class="ml-5 fas fa-{{ icopost }} transition-transform duration-300 ease-in-out group-hover:translate-x-1" data-fa-transform="grow-2 down-1"></i>
{% endif %}
</a>
