    <!-- Share -->
    <div class="relative group text-slate-700 z-10">
      <button class="flex h-8 items-center border border-slate-400 rounded px-3 font-semibold hover:border-slate-400 hover:border-slate-800 bg-white hover:text-slate-900 group-focus-within:bg-slate-800 group-focus-within:text-slate-100 group-focus-within:border-slate-900"><i class="block fa-solid fa-up-from-bracket mr-2 "></i> <span class="block">Share</span></button>
    <div class="{{ position }} hidden group-focus-within:block">
      <div class="arrow-up-dark {{ arrow }}"></div>
      <div class="bg-white border-2 border-slate-700 shadow-lg -mr-4 ">
        <a href="https://twitter.com/intent/tweet?text={{ description }}&via=Agworld&url=https://agworld-redesign.netlify.app{{ page.url | url }}&utm_medium=share&utm_source=twitter" target="_blank" class="group flex items-center text-slate-800 no-underline pl-5 pr-7 font-semibold py-4 border-b border-slate-300 hover:bg-slate-50">
        <span class="fa-brands fa-square-twitter mr-4 text-2xl"></span>
        <span class="pr-10">Twitter</span>
        <i class="block ml-auto text-sm fa-solid fa-angle-right fa-beat"></i></a> 
        <a href="https://www.facebook.com/sharer.php?u=https://agworld-redesign.netlify.app{{ page.url | url }}&utm_medium=share&utm_source=facebook" target="_blank" class="group flex items-center text-slate-800 no-underline pl-5 pr-7 font-semibold py-4 border-b border-slate-300 hover:bg-slate-50">
        <span class="fa-brands fa-square-facebook mr-4 text-2xl"></span>
        <span class="pr-10">Facebook</span>
        <i class="block ml-auto text-sm fa-solid fa-angle-right fa-beat"></i></a> 
        <a href="https://www.linkedin.com/shareArticle?mini=true&title={{ title }}&summary={{ description }}&source=Agworld&url=https://agworld-redesign.netlify.app{{ page.url | url }}&utm_medium=share&utm_source=linkedin" target="_blank" class="group flex items-center text-slate-800 no-underline pl-5 pr-7 font-semibold py-4 hover:bg-slate-50">
        <span class="fa-brands fa-linkedin mr-4 text-2xl"></span>
        <span class="pr-10">LinkedIn</span>
        <i class="block ml-auto text-sm fa-solid fa-angle-right fa-beat"></i></a> 
      </div>
    </div>
    </div>