<ul class="flex text-2xl {{ class }}">
  <li class=""><a href="/" class="p-2 {{ linkClass }}"><i class="fab fa-behance"></i></a></li>
  <li class=""><a href="/" class="p-2 {{ linkClass }}"><i class="fab fa-github"></i></a></li>
  <li class=""><a href="/" class="p-2 {{ linkClass }}"><i class="fab fa-dribbble"></i></a></li>
  <li class=""><a href="/" class="p-2 {{ linkClass }}"><i class="fab fa-x-twitter"></i></a></li>
  <li class=""><a href="/" class="p-2 {{ linkClass }}"><i class="fab fa-linkedin"></i></a></li>
</ul>